html {
	color: rgb(136, 136, 136); font-family: arial; background-color: rgb(0, 0, 0);
}
body {
	color: rgb(136, 136, 136); font-family: arial; background-color: rgb(0, 0, 0);
}
textarea {
	padding: 6px;
}
form {
	background: rgb(250, 250, 250); padding: 3px; border: 1px solid silver; width: 100%; margin-bottom: 0px;
}
#map3d {
	width: 1024px; height: 600px;
}
.button {
	cursor: pointer; background-color: rgb(208, 208, 208);
}
.button:link {
	cursor: pointer; background-color: rgb(208, 208, 208);
}
.button:hover {
	cursor: pointer; background-color: rgb(176, 176, 255);
}
.button:active {
	cursor: pointer; background-color: rgb(255, 176, 176);
}
.medw {
	width: 80px;
}
.wide {
	width: 120px;
}
.narrow {
	width: 40px;
}
.title {
	font-family: Impact; font-size: 50pt;
}
