<div ID="v_play" style="display:none">
	<table border=0 cellspacing=0 cellpadding=0>
		<TR>
			<TD nowrap>
				<script language="javascript" type="text/javascript">doPlay();</script>
			</TD>
		</TR>
	</table>
</div>


