<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<%= stylesheet_link_tag 'main.css' %>
<title>About</title>
</head>

<body id="home" style="margin: -13px 0 0 0;">
<div id="theme">
  <div class="head">
    <div class="logo"></div>
	<b></b> 
  </div>
  <div id="tab">
    <ul>
      <li id="tab1"><a href="/">the lab</a></li>
      <li id="tab2"><a href="/social.html">social</a></li>
      <li id="tab3"><a href="/milktruck/moon.html">games</a></li>
      <li id="tab4" class="this"><strong>about</strong></li>
      <li id="tab5"><a href="/contact.html">contact</a></li>
    </ul>
  </div>
</div>

<div class= "aboutDescription">
	This website was created by three students in Red Wittaker's Mobile Robotics
	Fall Semester 2011 course. We were tasked with creating an interface to
	facilitate public interaction with our laboratory while educating
	anyone interested in the competition for the Google Lunar X Prize. </br>
	</br>
	<strong>Features: </strong></br>
	</br>
	<strong>Lab Camera:</strong> A webcam is mounted on a pan/tilt servo mount allowing
	 for the viewing of our Lunar High Bay. This is our primary work are for our lunar
	lander and lunar rover in addition to other large scale robots. Take a look and who
	knows what you may find! </br>
	</br>
	<strong>Live Data:</strong> We stream live data from our lab to demonstrate a preview of our 
	live data stream from the moon. Educating the public is extremely important to us.
	Although currently you are only seeing data from Pittsburgh, future students will
	use a similar technique in the future to transmit and display much more unearthly
	data. </br>
	</br>
	<strong>Lunar Rover Simulation:</strong> Our lunar rover simulator is powered by Google's lunar
	landscape simulator and allows users to simulate what it is like driving our rover
	on the lunar surface. Check out other famous landings and see what other places
	you can find!</br>
	</br>
	<strong>Social Media:</strong> Follow Astrobotic on twitter and get automatic notifications
	whenever we are in the lab working on a project. Ask us questions on our Social 
	Media page and get answers from leading professionals in the field of 
	interplanetary robotics. 
</div>


</body>

</html>
