<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<%= render :partial => 'google_analytics.html.erb' %>
<%= stylesheet_link_tag 'main.css' %>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Acerca de</title>
</head>

<body id="home">
<div id="theme" style="margin-top: -12px;">
  <div class="head">
    <div class="logo"></div>
	<b></b> 
  </div>
  <div id="tab">
    <ul>
      <li id="tab1"><a href="/main_es.html">laboratorio</a></li>
      <li id="tab2"><a href="/social_es.html">social</a></li>
      <li id="tab3"><a href="/milktruck/moon_es.html">juegos</a></li>
      <li id="tab4" class="this"><strong>acerca de</strong></li>
      <li id="tab5"><a href="/contact_es.html">contacto</a></li>
    </ul>
  </div>
</div>

<br/>
<div class= "aboutDescription">
Este sitio web fue creado por tres estudiantes de la clase de Diseño de Robots Móviles con
el Dr. Red Whittaker durante el semestre agosto-diciembre del 2011. El reto consistió en
diseñar una interface que conectara al público alrededor del mundo con el Laboratorio de
Robótica Planetaria en la Universidad de Carnegie Mellon. El propósito principal de este
sitio es provocar interés y emoción en las personas respecto a la tecnología, la ingeniería y la
exploración espacial, así como estimular su imaginación.

Una cámara ha sido montada en el laboratorio para transmitir video en tiempo real, de modo
que los visitantes puedan observar y aprender mientras estos ambiciosos proyectos son
desarrollados. Conforme el programa avanza, nuevas cosas aparecerán en el laboratorio, así
que regresa de vez en cuando—siempre hay algo interesante ocurriendo por aquí.

Asimismo, sigue a Astrobotic Technology Inc. en Twitter (@astrobotic) y recibe notificationes
automáticas cuando estemos trabajando en el laboratorio de forma que puedas unírtenos.
Siente la libertad de hacer preguntas en la sección social de este sitio y recibe respuestas por
parte de grandes profesionales en el área de robótica planetaria.
</div>


</body>

</html>
