<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Astrobotic's Interactive Lab</title>
 
    <%= stylesheet_link_tag 'main.css' %>
    
    <div id="light_status">
	  	  	<div id="lightvalue"></div>
		</div>
			
		<div id="gamelink" style:"display: none"><a href="http://earth-api-samples.googlecode.com/svn/trunk/demos/milktruckmoon.html">Game</a></div>
			
		<%= render :partial => 'google_analytics.html.erb' %>
  </head>  			

  <body>
  
  <!-- <form><input type="button" Name="CamLeft" Value="<-" onClick="moveServo('uz2ORyR5x4Mp', 'CW', '100')"><input type="button" Name="CamRight" Value="->" onClick="moveServo('omCjPwzHOI9b', 'CCW', '40')"></form> -->


  	<div style="margin:0px 5px 0px 5px">
  		<%= image_tag 'astrobotic-173.png', :width => '400' %>
  	</div>
  	<div style="margin:0px 6px 0px 6px;background :blue">
  		<p style="background-color:#E72F25; color:#E72F25">placeholder</font></p>
  	</div>


  	<div style="margin:0px 6px 0px 6px">
  		<p style="font-family:Arial, Helvetica, sans-serif; font-size:18px">
  		<b>Bienvenidos al Laboratorio Interactivo de Astrobotic Technology</b><br>
              Estamos conectados en vivo al Laboratorio de Robótica Planetaria de Carnegie Mellon University.
              Queremos agradecer a los alumnos e instructores de Mini-Robótica para Adolescentes por acompañarnos hoy aquí.
              Los invitamos a darse la vuelta en este sitio web de vez en cuando; les prometemos que muchas cosas interesantes
              pasan por aquí todo el tiempo. Después de todo, tener un rover espacial y un aterrizador lunar en el mismo lugar
              no son cosas de todos días.
  		<!--We're streaming live from the Planetary Robotics Highbay in Carnegie Mellon University.
  		Swing by from time; we promise you that cool things happen around here from time to time.
  		After all, having a lunar rover and lander in the same room is not something you see everyday, is it?-->
  		</p>
  	</div>
  	<table>
  	<tr>	
		<td>
			<div id="temp" style="margin:0px 24px 0px 24px">
				<script type="text/javascript">document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?0W5zd4QR5OvD' type='text/javascript'%3E%3C/script%3E"));</script>
			</div>			
		</td>	  
		<td rowspan="2" align="left" style="vertical-align:top">
  			<div id="container">
				<iframe src="http://robotics.linksyscam.com/img/video.mjpeg" scrolling="no"
						style="width: 640px; height: 480px;"></iframe>
				</div>
  		</td>	
  		<td>
		
			<div id="tempChart">
				<script type="text/javascript">document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?u3jBQGnQsaru' type='text/javascript'%3E%3C/script%3E"));</script>
			</div>	
		</td>	
  	</tr>
  	<tr>
  		<td>
	  		<div id="humidity" style="margin:0px 24px 0px 24px">
				<script type="text/javascript">document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?Aj8wmSd6EtXT' type='text/javascript'%3E%3C/script%3E"));</script>
			</div>
	  	</td>

	    <td>
	  		<div id="humidityChart">
				<script type="text/javascript">document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?oanTarB2nhqg' type='text/javascript'%3E%3C/script%3E"));</script>
			</div>
	  	</td>

  	</tr>
  	<tr>
  		<td></td>
  		<td align="left" style="vertical-align:top">
<div id="turn_buttons">
<form>
<table align="center">
<tr>
<td>
<div id="turn_left" style="margin:0px 12px 0px 12px">
<a onclick="moveX('uz2ORyR5x4Mp', 'CW', '100')"><img border="0" alt="Turn Launcher Left" src= "images/Left.png" width="80" height="80" /></a></div>
</td>
<td>
<div id="turn_right" style="margin:0px 12px 0px 12px">
<a onclick="moveX('uz2ORyR5x4Mp', 'CCW', '40')"><img border="0" alt="Turn Launcher Right" src= "images/Right.png" width="80" height="80" /></a></div>
</td>
<td>
<div id="turn_up" style="margin:0px 12px 0px 12px">
<a onclick="moveY('omCjPwzHOI9b', 'CCW', '100')"><img border="0" alt="Turn Launcher Up" src= "images/Up.png" width="80" height="80" /></a></div>
</td>
<td>
<div id="turn_down" style="margin:0px 12px 0px 12px">
<a onclick="moveY('omCjPwzHOI9b', 'CW', '40')"><img border="0" alt="Turn Launcher Down" src= "images/Down.png" width="80" height="80" /></a></div>
</td>
</tr>
<tr>
<td align="center" colspan="4">

<script type="text/javascript">document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?aEFW7f0gplue' type='text/javascript'%3E%3C/script%3E"));</script>


<script type="text/javascript">document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?OXO0Q9H2yXME' type='text/javascript'%3E%3C/script%3E"));</script>


<td>
</tr>
</table>
</form>
</div>
  			<br><br>
                     <div style="margin:0px 6px 0px 6px">
  		          <p style="font-family:Arial, Helvetica, sans-serif; font-size:18px">
  		              <b>Los invitamos a que revisen el siguiente vínculo y participen conduciendo un rover espacial en la Luna ustedes mismos:</b><br>
                        <a href="http://earth-api-samples.googlecode.com/svn/trunk/demos/milktruck/moon.html">Hagan click aquí.</a>
  		          </p>
                        
  	              </div>
                     <br><br><br>
  		  	<div id="disqus_thread"></div>
			<div id="disqus">
				<script type="text/javascript">
				    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
				    var disqus_shortname = 'robotics'; // required: replace example with your forum shortname
				
				    /* * * DON'T EDIT BELOW THIS LINE * * */
				    (function() {
				        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				    })();
				</script>
				<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
			</div>
  		</td>	
  		<td align="right" style="vertical-align:top">
  			<br><br>
		  	<script type="text/javascript" language="javascript">
				/* widget config */
			    var jtw_divname                = 'jtw_widget1';
			    var jtw_search                 = 'Astrobotic OR XPrize';
			    var jtw_width                  = '350px';
			    var jtw_height                 = '600px';
			    var jtw_scroll                 = 'no';
			    var jtw_widget_background      = '#FFFFFF';
			    var jtw_widget_border          = '0px solid #FFFFFF';
			    var jtw_center_widget          = 'yes';
			
			    /* tweet styling */
			    var jtw_tweet_textcolor        = '';
			    var jtw_tweet_linkcolor  	   = "#E72F25";
			    var jtw_tweet_background       = 'url(./img/greygrad.png) repeat-x #fff';
			    var jtw_tweet_newbackground    = '#ffe';
			    var jtw_tweet_border           = '1px solid #FFFFFF';
			    var jtw_tweet_margin           = '8px';
			    var jtw_tweet_fontsize         = '12px';
			    var jtw_big_img                = 'yes';  /* display big avatar instead of small avatar */

			
			    /* search and display config */
			    var jtw_pre_html               = '<center><b>What\'s new</b></center>';
			    var jtw_post_html              = '';
			    var jtw_mid_html               = '<hr>';
			    var jtw_num_tweets             = '10';
			    var jtw_tweet_lang             = 'en';
			    var jtw_widget_style_misc	   = 'font-family: Arial, Helvetica, sans-serif;';
			    var jtw_widget_refresh_interval= 10;	
			</script>
			<script src="http://tweetgrid.com/widget/widget.js" type="text/javascript"></script> 
  		</td>

  	</tr>
  	</table>
<div id="ioWidgets" style="">
<script type="text/javascript">document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?uz2ORyR5x4Mp' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?aEFW7f0gplue'
type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?omCjPwzHOI9b' type='text/javascript'%3E%3C/script%3E"));</script>
</div>  	
  </body>
</html>