<div id="theme">
  <div class="head">
    <div class="logo"></div>
	<b></b> 
  </div>
  <div id="tab">
    <ul>
      <li id="tab1" class="this"><strong>laboratorio</strong></li>
      <li id="tab2"><a href="/social_es">social</a></li>
      <li id="tab3"><a href="/milktruck/moon_es.html">juegos</a></li>
      <li id="tab4"><a href="/about_es">acerca de</a></li>
      <li id="tab5"><a href="/contact_es.html">contact</a></li>
    </ul>
  </div>
</div>
<table style="margin:25px 0px 0px 0px">
	<tr>
		<td >
			<div id="video_container">
				<%= render :partial => 'video_feed' %>
				<!-- NOTE! Video is laggy through an iframe, so the configuration JS code is now on the server. Hence, changing settings on robotics.linksyscam.com will not affect the video here. Workaround: Change settings on robotics.linksyscam.com and then copy over language.cgi, message.cgi, stdlib.js, ver_activex.js to public/javascripts and the inline JS on the video view page into video_feed.js -->
			</div>
		</td>
		<td align="bottom">
		<div id="panel">
			<div class="header">
			PANEL DE CONTROL 
			</div>
			<div>
				<table style="margin:auto">
					<tr align="center">
						<td colspan="3">
					  		<div class="arrowup" id="turn_up"/>
					  	</td>
					</tr>
					<tr align="center">
						<td>
					  		<div class="arrowleft" id="turn_left"/>
					  	</td>
					  	<td>
					  		<div class="arrowdown" id="turn_down"/>
					  	</td>
					  	<td>
					  		<div class="arrowright" id="turn_right"/>
					  	</td>
					</tr>
				</table>
			</div>
	       <div style="margin:20px 0px 0px 0px">
               <div class="title">Reflector</div>
               <table width="280px">
                       <tr align="center">
                               <td>
                                       <div class="onbutton" onclick="lightOn();"/>
                               </td>
                               <td>
                                       <div class="offbutton" onclick="lightOff();"/>
                               </td>
                       </tr>
               </table>
       </div>
       <div style="margin:20px 0px 0px 0px">
               <div class="title">Cohete de burbujas</div>
               <table width="280px">
                       <tr align="center">
                               <td>
                                       <div class="launchbutton" onclick="BubbleGun1();"/>
                               </td>
                       </tr>
               </table>
       </div>	

		</td>
	</tr>

	<tr>
	<td style="width: 50%;">
		<div id="temp">
			<script type="text/javascript">document.write(unescape("%3Cdiv id=%22tempChart%22%20class=%22charts%22%3E%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?u3jBQGnQsaru' type='text/javascript'%3E%3C/script%3E%3C%2Fdiv%3E"));</script>
		</div>	
	</td>	
	<td style="width: 50%;">
		<div id="humidity">
			<script type="text/javascript">document.write(unescape("%3Cdiv id=%22humidityChart%22%20class=%22charts%22%3E%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?oanTarB2nhqg' type='text/javascript'%3E%3C/script%3E%3C%2Fdiv%3E"));</script>
		</div>
	</td>
	</tr>
</table>


<!--This code needs to be on the page to control widgets, even though it is not used directly-->
<div id="ioWidgets" style="display:none">
  <script type="text/javascript"> <!--Servo X-Axis-->
  document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?uz2ORyR5x4Mp' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript"> <!--Servo Y-Axis-->
  document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?omCjPwzHOI9b' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <!--<script type="text/javascript"> <!--Spotlight-->
  document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?OXO0Q9H2yXME' type='text/javascript'%3E%3C/script%3E"));
  </script>-->
  <script type="text/javascript">
  document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?OPSvhTDEFyCz' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?4EpL2Ivl6MjZ' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?UMVH2C5rT0A2' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?aEFW7f0gplue' type='text/javascript'%3E%3C/script%3E"));</script>
</div>

<!--<script type="text/javascript">
document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?OXO0Q9H2yXME' type='text/javascript'%3E%3C/script%3E"));
</script>-->




 
<!--<div id="turn_buttons">
	<table align="center">
	<tr>
		<td>
			<div id="turn_left" style="margin:0px 12px 0px 12px">
				<img border="0" alt="Turn Launcher Left" src= "images/Left.png" width="80" height="80" />
			</div>
		</td>
		
		<td>
			<div id="turn_right" style="margin:0px 12px 0px 12px">
				<img border="0" alt="Turn Launcher Right" src= "images/Right.png" width="80" height="80" />
			</div>
		</td>
		
		<td>
			<div id="turn_up" style="margin:0px 12px 0px 12px">
				<img border="0" alt="Turn Launcher Up" src= "images/Up.png" width="80" height="80" />
			</div>
		</td>
		
		<td>
			<div id="turn_down" style="margin:0px 12px 0px 12px">
				<img border="0" alt="Turn Launcher Down" src= "images/Down.png" width="80" height="80" />
			</div>
		</td>	
	</tr>
		
	<tr>
		<td align="center" colspan="4">
			<script type="text/javascript">document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?aEFW7f0gplue' type='text/javascript'%3E%3C/script%3E"));</script>

			<script type="text/javascript">document.write(unescape("%3Cscript src='" + "http://www.iobridge.com/widgets/io.js?OXO0Q9H2yXME' type='text/javascript'%3E%3C/script%3E"));</script>
		</td>
	</tr>	
	</table>
</div>-->
			
<!--<br><br>
<table>
	<tr>
		<td align="left" style="vertical-align:top">
			<div id="disqus">
				<%= render :partial => 'disqus' %>
			</div>
		</td>
			
  	<td align="right" style="vertical-align:top">
  		<div id="tweetgrid">
  			<%= render :partial => 'tweetgrid' %>
  		</div>
		</td>
  </tr>
</table>-->
